.text {
  color: #99adff;
}

.hr {
  border: none; /* 브라우저의 기본 음영 렌더링을 없앱니다 */
  border-top: 1px solid #0046ff; /* 1px 두께의 실선(solid) 파란색으로 지정합니다 */
  width: 100%; /* 선이 영역을 꽉 채우도록 설정합니다 */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 120px;
}
