.careerContainer {
  display: flex;
  gap: 2rem;
}

.career {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.careerContents {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
