.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  border-bottom: 1px solid #0046ff;
  margin-bottom: 24px;

  position: sticky;
  top: 0; /* 화면 상단에서 0px 위치에 고정 */
  z-index: 50; /* 다른 콘텐츠들보다 위에 보이도록 숫자를 높게 설정 */
  background-color: #ffffff; /* 헤더 배경색 설정 - 투명하면 스크롤 시 글자가 겹쳐 보일 수 있습니다 */
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav {
  display: flex;
  gap: 24px;
}
