.about {
  margin-top: 48px;
}

.idCard {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  align-items: center;
}

.profileImg {
  width: 440px;
  height: 440px;
  object-fit: cover; /* 사진 비율이 깨지지 않고 꽉 차게 잘리도록 설정 */
  border-radius: 50%;
}

.bio {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
