.about {
  margin-bottom: 72px;
}

.idCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
  margin-bottom: 64px;
}

.idText {
  text-align: left;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
